.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  max-width: 55vw;
  overflow-wrap: anywhere;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message__footer {
  width: 55vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.message__avatar {
  width: 108px;
  height: 108px;
  border-radius: 54px;
  margin-right: 10px;
}

.message__nickname {
  margin: 10px;
  font-weight: bold;
  color: #007bff;
}

.message__theme {
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

.message__text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
}

.message__image {
  max-height: auto;
  padding: 10px;
  max-width: 50vw;
  border-radius: 4px;
}

.button {
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.button_hidden {
  visibility: hidden;
  position: absolute;
}
