.main__anime-girl {
  position: fixed;
  filter: drop-shadow(0 0 0.2rem #fff);
}
.main__anime-girl_orange {
  color: #ff5226;
}

.main__anime-girl_light-blue {
  color: #5b7cff;
}

.main__anime-girl_size-m {
  font-size: 8px;
}

.navigation {
  width: 20vh;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
}

.main__aside-left {
  width: 20vw;
}

.main__aside-right {
  width: 20vw;
}

.content {
  order: 0;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.table__element {
  padding: 10px;
  text-align: center;
  border: 1px solid #3b3b3b;
}
.table__header {
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 1px solid #3b3b3b;
}

.content__section {
  margin: 1vw;

  border-style: outset;
  border-radius: 20px;
  filter: drop-shadow(0 0 0.25rem #fff);
}

.content__section_text-centered {
  text-align: center;
}
.content__section_padding-m {
  padding: 10px;
}

.content__h {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  border-radius: 12px;
}

.color_coders-green {
  color: #00ef00;
}

.color_coders-gray {
  color: #3b3b3b;
}

.bg-color_coders-green {
  background-color: #00ef00;
}

.bg-color_coders-green-dark {
  background-color: #00df00;
}

.bg-color_black {
  background-color: black;
}

.bg-color_coders-gray {
  background-color: #3b3b3b;
}

.bg-color_coders-green-light {
  background-color: #40ff40;
}

@media screen and (orientation: portrait) {
  .main__aside-left {
    display: none;
  }
  .main__aside-right {
    display: none;
  }
  .main {
    justify-content: center;
  }
  .content {
    width: 100vh;
  }
}
